<ngivr-list ngivr-schema="ticket" ngivr-url="{{ngivrUrl}}" ngivr-ref="this" ngivr-query="ngivrQuery">
    <ngivr-list-searcher>
        <md-input-container class="md-block">
            <label>{{ ngivr.strings.title.search}}</label>
            <input ng-model="ref.inputSearch" ng-change="ref.$ctrl.search(query)"
                   ng-model-options='{ debounce: ngivr.settings.debounce }'/>
        </md-input-container>
    </ngivr-list-searcher>

    <ngivr-list-header>


        <div hl-sticky offset-top="$root.hlStickyTopOffset" class="ngivr-list-header-column" layout="column" flex
             layout-gt-sm="row" layout-padding>

            <div layout="column" layout-gt-md="row" flex="100" flex-gt-md="50">

                <div flex-gt-md="50">
                    <strong>Birtokátruházó sorszáma</strong>
                </div>
                <div flex-gt-md="50">
                    <strong>Technikai teljesítettség</strong>
                </div>


            </div>


        </div>
    </ngivr-list-header>

    <ngivr-list-template>
        <div class="ngivr-list-tickets-without-invoice">
            <div layout="row" class="ngivr-list-tickets-without-invoice-title">
                <div flex="50" ng-click="showItems(doc._id)"
                     class="ngivr-list-tickets-without-invoice-title-hoverable">
                    <ng-md-icon ng-if="!detailedPTransfers.includes(doc._id)" icon="chevron_right"></ng-md-icon>
                    <ng-md-icon ng-if="detailedPTransfers.includes(doc._id)" icon="expand_more"></ng-md-icon>
                    {{doc._id.ticketName}}
                </div>
                <div flex="50">
                    {{doc._id.diagramInfo.quantity | number : 3}} mt/{{(doc._id.diagramInfo.quantity -
                    doc._id.technicalRemain) | number : 3}} mt
                </div>
            </div>

            <div ng-repeat="ticket in doc.tickets" ng-if="detailedPTransfers.includes(doc._id)">
                <md-divider style="margin-bottom: 5px;"></md-divider>
                <div layout="row">
                    <div flex="30" style="padding-left: 26px;">
                        <md-tooltip>Sorszám</md-tooltip>
                        {{ticket.ticketName}}
                    </div>
                    <div flex="15">
                        <md-tooltip>Dátum</md-tooltip>
                        {{ticket.fulfillmentDate | date: 'yyyy.MM.dd.'}}
                    </div>
                    <div flex="25">
                        <md-tooltip>Rendszám</md-tooltip>
                        {{ticket.plateNumber1 + (ticket.plateNumber2 ? ('/' + ticket.plateNumber2) : '')}}
                    </div>
                    <div flex="15">
                        <md-tooltip>Mennyiség (mt)</md-tooltip>
                        {{ticket.weight[0] | number : 3}}
                    </div>
                    <div flex="20">
                        <md-tooltip>Hajónév</md-tooltip>
                        {{ticket.shipName}}
                    </div>
                </div>
            </div>
        </div>

        <div class="ngivr-list-tickets-without-invoice-divider"
             ng-if="!detailedPTransfers.includes(doc._id) && !detailedPTransfers.includes(docNext._id)"></div>
    </ngivr-list-template>

</ngivr-list>
