<ngivr-list ngivr-schema="contract" ngivr-ref="this" ngivr-query="ngivrQuery">

    <ngivr-list-buttons>
        <ngivr-button-excel-export ngivr-add-date="1" ngivr-filename="$ctrl.filename"
                                   ngivr-url='/api/statistics/contractList'
                                   ngivr-server-query="query.search"></ngivr-button-excel-export>

    </ngivr-list-buttons>

    <ngivr-list-searcher>
        <md-input-container class="md-block" style="bottom: 5px">
            <label>{{ $root.ngivr.strings.title.search}}</label>
            <input ng-model="ref.inputSearch" ng-change="ref.$ctrl.search(query)"
                           ng-model-options='{ debounce: ngivr.settings.debounce }'/>
        </md-input-container>
    </ngivr-list-searcher>

    <ngivr-list-template>
        <md-card class="card-padding" style="clear: both;">
            <!--								<md-card-content ng-click="expand(doc, doc._id)">-->
            <md-card-content ui-sref="allContractsDetailes({id: doc._id})">
                <div class="card-left {{ doc.buy ? 'card-green' : 'card-red' }}">
                    <span ng-bind="doc.buy ? 'V' : 'E'"></span>
                    <span ng-if="doc.newEventsByLogistics + doc.newMessagesByLogistics > 0"
                          class="badge badge-danger">{{doc.newEventsByLogistics + doc.newMessagesByLogistics}}</span>
                </div>
                <div class="card-right">
                    <table>
                        <tr>
                            <td><span ng-bind="doc.contractNumber"></span></td>
                            <td><span
                                ng-bind="doc.normal ? doc.product[0].name : 'Opciós ' + doc.optionProductGroupName"></span>
                            </td>
                            <td><span ng-bind="(doc.quantity | number) + ' mt'"></span></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <span>{{doc.isNewPartner ? doc.newPartner[0].name : doc.partner[0].name}}</span>
                            </td>
                        </tr>
                        <tr class="card-third-row">
                            <td colspan="3">
                                <ng-include src="'app/tracking/templates/contract-status.html'"></ng-include>
                            </td>
                        </tr>
                    </table>
                </div>
            </md-card-content>
        </md-card>

    </ngivr-list-template>

</ngivr-list>
