<ngivr-list ngivr-schema="ticket" ngivr-url="/api/tickets/outtickets-without-invoice" ngivr-query="ngivrQuery" ngivr-ref="this">
  <ngivr-list-searcher>
    <md-input-container class="md-block">
      <label>{{ ngivr.strings.title.search}}</label>
      <input ng-model="ref.inputSearch" ng-change="ref.$ctrl.search(query)"
             ng-model-options='{ debounce: ngivr.settings.debounce }'/>
    </md-input-container>
  </ngivr-list-searcher>
  <ngivr-list-template>
    <div ng-show="doc.ticketName">
      <ngivr-list-divider-pre></ngivr-list-divider-pre>
      <div style="float: left;">
        <md-tooltip md-direction="top">Jegy</md-tooltip>
        {{ doc.ticketName }} {{ doc.direction }}
      </div>
      <div style="float: right">
        <span style="padding-right: 5px">
          <md-tooltip md-direction="bottom">Számlázandó mennyiség</md-tooltip>
          {{ doc.performed}} mt
      </span>
        <md-checkbox ng-click="isSelected(doc._id, 'ticket') ? deselectTicket(doc, query) : selectTicket(doc, null, $index, null, query)"
            ng-disabled="!isSelectable(doc._id, 'ticket')" ng-checked="isSelected(doc._id, 'ticket')" aria-label="Jegy">
        </md-checkbox>
      </div>
      <div style="clear: left;">
        <span>
          <md-tooltip md-direction="top">Hajó neve</md-tooltip>
          (shipName null){{ doc.shipName }}
          <a
          ng-click="ref.inputSearch = doc.tickets[0].contractPartner.name; ref.$ctrl.search(query)"
          class="margin-top-15 waves-effect">
          <i class="fa fa-search"></i>
          </a>
        </span>
      </div>
      <div style="clear: left;">
        <md-tooltip md-direction="bottom">Partner</md-tooltip>
        {{ doc.contractPartner.name }}
      </div>
    </div>

    <div ng-if="doc.orderNumber">
      <ngivr-list-divider-pre></ngivr-list-divider-pre>
      <div>
        <div style="float: left;" ng-click="showTickets(doc._id)">
          <div layout="row">
            <span class="fa-stack fa-lg">
              <i class="fa fa fa-eye fa-stack-1x"></i>
              <i class="fa fa-stack-2x text-danger" ng-class="{ 'fa-ban': detailedOrders.includes(doc._id) }"></i>
            </span>
            <span>
              <md-tooltip md-direction="top">Diszpozíció</md-tooltip>
              {{ doc.orderNumber }} {{ doc.direction }}
            </span>
          </div>
        </div>
        <div style="float: right">
          <span style="padding-right: 5px">
            <md-tooltip md-direction="top">Összsúly</md-tooltip>
            {{ doc.performed }} mt
          </span>
          <md-checkbox
          aria-label="Rendelésszám"
          ng-click="isSelected(doc._id, 'order') ? deselectAllTicketsIndOrder(doc, query) : selectAllTicketsInOrder(doc, query) "
          ng-checked="isSelected(doc._id, 'order')" ng-disabled="!isSelectable(doc._id, 'order')">
          </md-checkbox>
        </div>

        <div style="clear: left;">
          <span>
            <md-tooltip md-direction="top">Hajó neve</md-tooltip>
            (shipName null){{ doc.shipName }}
            <a
            ng-click="ref.inputSearch = doc.tickets[0].contractPartner.name; ref.$ctrl.search(query)"
            class="margin-top-15 waves-effect">
            <i class="fa fa-search"></i>
            </a>
          </span>
        </div>

        <div style="clear: left;">
          <md-tooltip md-direction="bottom">Partner</md-tooltip>
          {{ doc.contractPartner.name }}
        </div>
      </div>

      <div ng-repeat="ticket in doc.tickets" ng-if="detailedOrders.includes(doc._id)">
        <div style="float: right; clear: both">
          <span style="padding-right: 5px">
            <md-tooltip md-direction="top">{{ ngivr.strings.loadedWeight }}</md-tooltip>
            {{ ticket.ledger[0].loadedWeight | number: 2 }} mt
          </span>
          <md-checkbox
          ng-click="isSelected(ticket._id, 'ticket') ? deselectTicket(ticket, query) : selectTicket(ticket, doc._id, $index, $parent.$index, query)"
          ng-checked="isSelected(ticket._id, 'ticket')" aria-label="{{ ngivr.strings.ticketName }}"
          ng-disabled="!isSelectable(ticket._id, 'ticket')"></md-checkbox>
        </div>
        <div>
          <div style="clear: left">
            <md-tooltip md-direction="top">{{ ngivr.strings.ticketName }}</md-tooltip>
            {{ ticket.ticketName }}
          </div>
          <div>
            <md-tooltip md-direction="top">{{ ngivr.strings.plateNumber }}</md-tooltip>
            {{ ticket.plateNumber1 }}
          </div>
          <div>
            <md-tooltip md-direction="top">{{ ngivr.strings.unloadedWeight }}</md-tooltip>
            {{ ticket.ledger[0].unloadedWeight | number: 2 }} mt
          </div>
        </div>
      </div>
    </div>
  </ngivr-list-template>
</ngivr-list>
