.ngivr-list-tracking-cargo-plans-deliveries-popup {
  ngivr-portlet-title {
    .ngivr-portlet-title-default {
      min-height: 45px  !important;;
    }
    .ngivr-portlet-title-total {
      position: absolute !important;
      bottom: 5px !important;;
      right: 5px !important;;
    }
  }
}

