/node_modules
/.tmp
/.DS_Store
/client/bower_components
/bower_components
/dist
/dist-prev
/tmp
/server/config/local.env.js
/npm-debug.log
__MACOSX
/nbproject
/.vs
/bower_components
/obj
/build
/Thumbs.db
/typings.json
/typings
/ngivr.njsperf
/*.etl
/*.tmp
/*.vspx
.DS_Store
node_modules


.idea/workspace.xml
.idea/tasks.xml
.idea/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea

yarn-error.log
yarn.lock


cmake-build-debug
CMakeFiles
cmake-build-release
*.vcxproj.user
