https://npm.ngivr.sygnus.hu/=
registry=https://npm.ngivr.sygnus.hu/
ca = null
always-auth = true
//npm.ngivr.sygnus.hu/:_authToken="q1w+8fkN/IHJ+7S3bAHpUeNxJ8ZQ3GLAb7BIOW3tGoA="
//npm.ngivr.sygnus.hu/:always-auth=false
//npm.ngivr.sygnus.hu/:_password=c3plcmV0ZW1AOTk5
//npm.ngivr.sygnus.hu/:username=sygnus
//npm.ngivr.sygnus.hu/:email=ngivr@sygnus-dev.inb.hu

