<md-dialog aria-label="" style="min-width: 1000px; min-height: 800px">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ doc.incomingSeller[0].name }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Áttekintő">


                <div layout-padding>
                    <div layout="row" class="margin-top-10">
                        <div flex="33">
                            <span class="first-child"><b ng-bind="'Számla sorszáma: '"></b><span
                                ng-bind="doc.incomingInvoiceNumber"></span></span>
                        </div>
                    </div>

                    <div layout="row" class="margin-top-10">

                        <div flex="33">
                            <div class="detail-row">
                                <span class="first-child"><b ng-bind="'Típus: '"></b><span
                                    ng-bind="registryStatusList[doc.registryStatus] + '/' + typeList[doc.type]"></span></span>
                                <br/>
                            </div>
                        </div>

                        <div flex="33">
                            <div class="detail-row">
                                <span class="first-child"><b ng-bind="'Érkezés: '"></b><span
                                    ng-bind="(doc.incomingDate | date: 'yyyy.MM.dd') + '/' + incomingTypesList[doc.incomingModeOfArrival]"></span></span>
                                <br/>
                            </div>
                        </div>

                        <div flex="33">
                            <div class="detail-row">
                                <span class="first-child"><b ng-bind="'Iktatás: '"></b><span
                                    ng-bind="(doc.createdAt | date: 'yyyy.MM.dd') + '/' + doc.history[0].userName"></span></span>
                                <br/>
                            </div>
                        </div>
                    </div>

                    <div layout="row" class="margin-top-10">
                        <div flex="33">
                            <div class="detail-row">
                                <span class="first-child"><b ng-bind="'Teljesítés dátuma: '"></b><span
                                    ng-bind="doc.goodsSent | date: 'yyyy.MM.dd'"></span></span>
                                <br/>
                            </div>
                        </div>

                        <div flex="33">
                            <div class="detail-row">
                                <span class="first-child"><b ng-bind="'Fizetési határidő: '"></b><span
                                    ng-bind="doc.lastDayOfPayment | date: 'yyyy.MM.dd'"></span></span>
                                <br/>
                            </div>
                        </div>

                        <div flex="33">
                            <div class="detail-row">
                                <span class="first-child"><b ng-bind="'Elszámolás dátuma: '"></b><span
                                    ng-bind="doc.deadlineDate | date: 'yyyy.MM.dd'"></span></span>
                                <br/>
                            </div>
                        </div>

                    </div>

                    <div layout="row" class="margin-top-10">
                        <div flex="33">
                            <div class="detail-row">
                                <span class="first-child"><b ng-bind="'Fizetési mód: '"></b><span
                                    ng-bind="doc.incomingPayMode.FIZMOD_NEV"></span></span>
                                <br/>
                            </div>
                        </div>

                        <div flex ng-if="doc.incomingPayMode === 'transfer'">
                            <div class="detail-row">
                                <span class="first-child"><b ng-bind="'Bankszámlaszám: '"></b><span
                                    ng-bind="doc.incomingBankAccountNumber"></span></span>
                                <br/>
                            </div>
                        </div>
                    </div>

                    <div layout="row" class="margin-top-10">
                        <div flex="33">
                            <div class="detail-row">
                                <span class="first-child"><b ng-bind="'Bruttó érték: '"></b><span
                                    ng-bind="doc.incomingBrutto | currency: doc.currency"></span></span>
                                <br/>

                            </div>
                        </div>

                        <div flex="33">
                            <div class="detail-row">
                                <span class="first-child"><b ng-bind="'Adótartalom: '"></b><span
                                    ng-bind="doc.incomingVAT | currency: doc.currency"></span></span>
                                <br/>

                            </div>
                        </div>

                        <div flex="33">
                            <div class="detail-row">
                                <span class="first-child"><b ng-bind="'Nettó érték: '"></b><span
                                    ng-bind="doc.incomingNetto | currency: doc.currency"></span></span>
                                <br/>
                            </div>
                        </div>

                    </div>

                    <div layout="row" ng-if="doc.incomingKATA" class="margin-top-10">
                        <div class="detail-row">
                            <span class="first-child"><b ng-bind="'KATA'"></b></span></span>
                            <br/>
                        </div>
                    </div>

                    <div layout="row" ng-if="doc.incomingCashAccounting" class="margin-top-10">
                        <div class="detail-row">
                            <span class="first-child"><b
                                ng-bind="'Pénzforgalmi szemléletű ÁFA-elszámolás'"></b></span></span>
                            <br/>
                        </div>
                    </div>

                    <div ng-if="doc.type !== 'normal'" class="margin-top-10">
                        <div class="detail-row">
                    <span class="first-child"><b ng-bind="'Kapcsolódó bizonylatszám: '"></b><span
                        ng-bind="doc.relatedInvoiceNumber"></span></span>
                            <br/>
                        </div>
                    </div>

                    <div layout="row" ng-if="doc.comments[0]" class="margin-top-10">
                        <div class="detail-row">
                  <span class="first-child"><b ng-bind="'Megjegyzés: '"></b><br><span style="white-space: pre-line"
                                                                                      ng-bind="doc.comments[0]"></span></span>
                            <br/>
                        </div>
                    </div>

                    <div ng-if="doc.type === 'normal' && doc.relatedInvoices" class="margin-top-10">
                        <div class="detail-row">
                    <span class="first-child"><b ng-bind="'Kapcsolódó bizonylatszám(ok): '"></b><span
                        ng-bind="doc.relatedInvoiceNumber"></span></span>
                            <br/>
                            <span ng-repeat="number in doc.relatedInvoices" class="first-child" style="margin-left:1em"><b
                                ng-bind="number.type === 'correction' ? 'Korrekciós' : 'Sztornó'"></b> <span
                                ng-bind="': ' + number.invoiceNumber"></span><br/></span>
                        </div>
                    </div>

                    <div
                        ng-if="doc.status !== 'checked_correction' && !doc.cancelled && doc.type!=='storno'"
                        layout="row" layout-align="end end"
                        layout-margin class="margin-top-10">
                        <ngivr-lock ngivr-lock="lock" class="pull-right">
                            <ngivr-lock-unlocked>
                                <span><ngivr-button
                                    ng-if="doc.registryStatus !== 'advancement' && doc.registryStatus !== 'other' && doc.registryStatus !== 'service'"
                                    ng-click="ref.$ctrl.isLocked(doc) || (doc.status === 'registered' ? cancel('startReconcilation') : cancel('loadReconcilation'))"
                                    ng-disabled="ref.$ctrl.isLocked(doc)">
                                            <span>Számlaegyeztetés</span></ngivr-button></span>
                            </ngivr-lock-unlocked>
                        </ngivr-lock>

                        <ngivr-lock ngivr-lock="lock" class="pull-right">
                            <ngivr-lock-unlocked>
                                <span>
                                        <ngivr-button
                                            ng-click="ref.$ctrl.isLocked(doc) || doc.status !== 'registered' || correctionSending(doc, true)"
                                            ng-disabled="ref.$ctrl.isLocked(doc) || doc.status !== 'registered'">
                                            <span>Korrekcióra küldés</span></ngivr-button>
                                </span>
                            </ngivr-lock-unlocked>
                        </ngivr-lock>

                    </div>
                    <div ng-if="doc.status === 'checked_correction'" layout="row" layout-align="end end" layout-margin
                         class="margin-top-10">
                        <ngivr-lock ngivr-lock="lock" class="pull-right">
                            <ngivr-lock-unlocked>
                                <span>
                                        <ngivr-button ng-click="isLocked(doc._id) || changeStatus(doc, 'registered')"
                                                      ng-disabled="isLocked(doc._id)">
                                            <span>{{ngivr.strings.button.moveToRegistered}}</span></ngivr-button>
                                </span>
                            </ngivr-lock-unlocked>
                        </ngivr-lock>
                    </div>
                    <form name="correctionForm"
                          ng-if="doc.showCorrectionRow || doc.showCorrectionRowForMe || doc.status === 'checked_correction'"
                          ng-submit="sendToCorrection(doc)">
                        <div layout="row" style="margin-right: 5px;">
                            <div flex="75">
                                <fieldset ng-disabled="doc.status === 'checked_correction'">
                                    <md-input-container class="md-block margin-bottom-10">
                                        <textarea placeholder="Megjegyzés" name="correctionComment" required
                                                  ng-model="doc.correctionComment"></textarea>
                                    </md-input-container>

                                    <div ng-messages="correctionForm.correctionComment.$error">
                                        <p ng-message="required">A mező kitöltése kötelező!</p>
                                    </div>
                                </fieldset>

                                <!--</md-input-container>-->
                            </div>
                            <div flex ng-if="doc.status === 'registered'" style="margin-top: 6px">
                                <div layout="row" layout-align="end end">
                                    <div style="margin-right: 3px;">
                                        <ngivr-button ng-click="sendToCorrection(doc, correctionForm)">
                                            <span>Küldés</span></ngivr-button>
                                        <ngivr-button ng-click="correctionSending(doc, false)">
                                            <span>Mégse</span></ngivr-button>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </form>

                    <div ng-if="doc.items.length">
                        <!--
                        **********
                        Tételek
                        **********
                        -->
                        <span class="first-child"><b ng-bind="'Tételek: '"></b></span>
                        <div hl-sticky offset-top="$root.hlStickyTopOffset" class="ngivr-list-header-column"

                             layout-padding>

                            <div layout="row" layout-wrap style="text-align: right">

                                <div flex="40" style="text-align: left">
                                    <strong>Megnevezés</strong>
                                </div>
                                <div flex="20">
                                    <strong>Egységár</strong>
                                </div>
                                <div flex="20">
                                    <strong>Mennyiség</strong>
                                </div>
                                <div flex="10">
                                    <strong>ÁFA mérték</strong>
                                </div>
                                <div flex="10">
                                    <strong>Nettó érték</strong>
                                </div>
                            </div>


                        </div>
                        <div ng-repeat="item in doc.items">
                            <div class="ngivr-list-tickets-without-invoice"
                                 style="padding-left: 8px; padding-right: 8px">
                                <div layout="row"
                                     layout-wrap style="text-align: right; padding-left: 8px; padding-right: 8px">
                                    <div flex="40" style="text-align: left">
                                        <span ng-bind="item.product.name"></span>
                                    </div>
                                    <div flex="20">
                                        <span
                                            ng-bind="item.pricePerUnit | number : (doc.currency === 'HUF' ? 0 : 2)"></span>
                                    </div>
                                    <div flex="20">
                                        <span ng-bind="item.amount + ' ' + item.unit"></span>
                                    </div>


                                    <div flex="10">
                                        <span ng-bind="item.vat"></span>
                                    </div>
                                    <div flex="10">
                                        <span
                                            ng-bind="item.totalPrice | number : (doc.currency === 'HUF' ? 0 : 2)"></span>
                                    </div>
                                </div>
                                <div ng-if="item.comment" style="padding-left: 8px; padding-right: 8px">
                                    <span style="font-style: italic">Megjegyzés: </span>
                                    <span ng-bind="item.comment"></span>
                                </div>
                            </div>
                            <div class="ngivr-list-tickets-without-invoice-divider"></div>
                        </div>
                    </div>
                </div>


            </md-tab>

            <md-tab label="Szerkesztés" ng-if="doc.status !== 'checked_ack'"
                    md-on-select="doc.status === 'checked_ack' ? editIncomingInvoice() : showForm = true"
                    md-on-deselect="socketService.get()">
                <div ng-if="showForm" layout-padding>
                    <ngivr-form-new-filing ngivr-id="doc._id"
                                           incoming-types-list="incomingTypesList"
                                           pay-mode-list="payModeList"
                                           ngivr-form-no-quit="true"
                                           registry-status-list="registryStatusList"></ngivr-form-new-filing>
                </div>

            </md-tab>


        </md-tabs>
    </md-dialog-content>
</md-dialog>
