<md-dialog aria-label="" style="min-width: 900px">
 <!-- <form name="depositForm" ng-cloak>-->
    <md-toolbar>
      <div class="md-toolbar-tools portlet-title">
        <h2>Új partner</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="fa fa-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <div style="margin-right: 10px; margin-left: 10px; margin-bottom: 10px">
            <ngivr-form-partner new-partner="newPartner" contract="contract" ngivr-close="cancel()" is-checked="isChecked"></ngivr-form-partner>
        </div>


    </md-dialog-content>

    <!--<md-dialog-actions layout="row">
      <span flex></span>
      <ngivr-button ng-click="cancel() || ngivr.growl('close')">
        <ng-md-icon icon="close"></ng-md-icon>
        <md-tooltip>Mégse</md-tooltip>
        Mégse
      </ngivr-button>
      <ngivr-button ng-click="answer('save') || ngivr.growl('save')">
        <ng-md-icon icon="save"></ng-md-icon>
        <md-tooltip>Mentés</md-tooltip>
        Mentés
      </ngivr-button>
      <ngivr-button-pdf></ngivr-button-pdf>
    </md-dialog-actions>-->
  <!--</form>-->
</md-dialog>


