#footer .page-footer-inner {
    float: right !important;
}

#footer.page-footer {
    padding-top: 7px;
}

.menu-toggler, a.menu-toggler:active, a.menu-toggler:focus {
    background-image: none !important;
    color: white;
}
