[disabled] md-autocomplete[md-floating-label] .md-show-clear-button button {
  display: none;
}
md-autocomplete[md-floating-label] .md-show-clear-button button {
  top: 0px !important;;
}

.ngivr-autocomplete md-autocomplete-wrap {
  box-shadow: none !important;
}
