
.ngivr-button-row-left {
  padding-right: 5px;
}

.ngivr-position-fixed-top-left {
  position: fixed;
  top: 0px;
  left: 0px;
}

.ngivr-position-fixed-top-right {
  position: fixed;
  top: 0px;
  right: 0px;
}

.ngivr-position-fixed-bottom-left {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.ngivr-position-fixed-bottom-right {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
