@import "../../../assets/sass/ngivr-disabled";
$ngivr-input-switch-size: 14px;
@mixin switch-default($bg, $text) {
	background-color: $bg !important;
	color: rgba($text, 1) !important;
	margin-top: 5px !important;
	font-size: $ngivr-button-size;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18) !important;
	padding-left: 10px;
	padding-right: 10px;
	text-overflow: ellipsis;
}

ngivr-input-switch {
	> div {
		@include switch-default($color-primary, white);

		&:hover {
			filter: brightness(85%);
		}
	}
}


.ngivr-input-switch-disabled {
	> div {
		@include switch-default($color-primary, white);
		pointer-events: none;
		opacity: 0.4;
	}
	pointer-events: none;
}

.ngivr-input-switch-on > div {
	@include switch-default($color-primary, white);
}

.ngivr-input-switch-off > div {
	@include switch-default($color-accent, black);
}

.ngivr-input-switch-fixed > div {
	width:110px;
}
