thermo-measuring-instrument-display-container {
    #thermo-measuring-instrument-display-3d {

        width: 640px;
        height: 480px;
    }

    videogular {
        height: inherit !important;
    }
}
