ngivr-input-date {
  .ngivr-input-data {
    input {
      margin-bottom: 0px !important;
    }
  }
  .ngivr-input-date-today {
    min-height: 24px;
    min-width: 20px;
  }
}

//md-dialog {
//  ngivr-input-date {
//    ngivr-icon-fa > .md-button > i.fa {
//      top: -4px;
//    }
//  }
//}
